@import "../../styles/tokens.less";

.player {
  width: 100%;
  height: 100%;
  background: @bg-primary;
  position: relative;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #000;
}
